{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- Подключение CSS (если нужно) -->
<link rel="stylesheet" href="{% static 'css/accounts/profile_style.css' %}">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Заголовок -->
            <div class="text-center mb-5">
                <h1 class="display-4">Изменение пароля</h1>
            </div>

            <!-- Форма изменения пароля -->
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="id_old_password" class="form-label">Старый пароль:</label>
                    {{ form.old_password }}
                </div>
                <div class="form-group mb-3">
                    <label for="id_new_password1" class="form-label">Новый пароль:</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-group mb-3">
                    <label for="id_new_password2" class="form-label">Подтвердите новый пароль:</label>
                    {{ form.new_password2 }}
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">Изменить пароль</button>
                </div>
            </form>

            <!-- Кнопка "Назад" -->
            <div class="text-center mt-4">
                <a href="{% url 'profile' %}" class="btn btn-outline-secondary">Назад</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}