{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Личный кабинет</h1>

    <h2 class="text-center mb-4">Ваши книги:</h2>

    <div class="table-responsive">
        <table class="table table-bordered table-hover" style="color: #ffffff;">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Рейтинг</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.rating }}/10</td>
                        <td>{{ book.author.name }}</td>
                        <td>
                            <a href="{% url 'book_detail' book.id %}" class="btn btn-info">Подробнее</a>
                            <a href="{% url 'edit_book' book.id %}" class="btn btn-warning">Редактировать</a>
                            <a href="{% url 'delete_book' book.id %}" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'add_book' %}" class="btn btn-primary" style="color: #000000;" >Добавить книгу</a>
    </div>
</div>
{% endblock %}