{% extends 'index.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 400px;">
        <h2 class="text-center text-primary">Восстановление пароля</h2>
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="email" class="form-label" style="color: black">Введите ваш email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="example@mail.com" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Отправить код</button>
        </form>
    </div>
</div>
{% endblock %}
