{% extends 'index.html' %}

{% block content %}
<div class="display-5 text-center">
    <h1 class="display-4 text-center">Добро пожаловать в библиотеку!</h1>
    <div class="display-4 text-center">
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg">Перейти в личный кабинет</a>
        {% else %}
            <p class="lead">Пожалуйста, войдите или зарегистрируйтесь.</p>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg me-2">Войти</a>
            <a href="{% url 'register' %}" class="btn btn-secondary btn-lg">Зарегистрироваться</a>
        {% endif %}
    </div>
</div>
{% endblock %}