{% extends 'index.html' %}

{% block content %}

<div class="d-flex flex-column" style="min-height: 90vh; position: relative;">
    <div class="blue-shape"></div>
    <div class="flex-grow-1 d-flex justify-content-center align-items-center text-center" style="margin-top: -250px;">
        <div>
            <h1 class="display-3 mb-4">Добро пожаловать в библиотеку!</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg">Перейти в личный кабинет</a>
            {% else %}
                <p class="lead fs-4">Пожалуйста, войдите или зарегистрируйтесь.</p>
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg me-3">Войти</a>
                <a href="{% url 'register' %}" class="btn btn-secondary btn-lg">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>

    <!-- Изображение в нижнем левом углу -->
    <div style="position: absolute; bottom: -130px; left: 15px;">
        <img src="https://psv4.userapi.com/s/v1/d/Y_ydMZBsA7LWttfCKuwr5-80mtsK5_yEtP2rj_bCSewfjBNnChqxL1kjC4XF8Ro55tnOO-SiJq3bAqdsmim2nRDLhnz6Lz2-DIZQIOw0O31g_-ATABjqKw/a-stylized-hand-drawn-digital-illustrati_YG9ezEPiSSGENR9pN0kPvQ_wGBuTSj-RJecz5RWUB_xvA-Photoroom.png"
             alt="Библиотека" style="max-width: 550px; height: auto;">
    </div>
</div>
{% endblock %}

