{% extends 'index.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 300px;">
        <h2 class="text-center text-primary">Сброс пароля</h2>
        <form method="post">
            {% csrf_token %}

            <label class="form-label black-text" style="color: #000000;">{{ form.verification_code.label_tag }}</label>
            {{ form.verification_code }}
            {% if form.verification_code.errors %}
                <div class="text-danger">{{ form.verification_code.errors }}</div>
            {% endif %}

            <label class="form-label black-text" style="color: #000000;">{{ form.password.label_tag }}</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="text-danger">{{ form.password.errors }}</div>
            {% endif %}

            <label class="form-label black-text" style="color: #000000;">{{ form.confirm_password.label_tag }}</label>
            {{ form.confirm_password }}
            {% if form.confirm_password.errors %}
                <div class="text-danger">{{ form.confirm_password.errors }}</div>
            {% endif %}
            <br>
            <button type="submit" class="btn btn-primary w-100">Сбросить пароль</button>
            </br>
        </form>
    </div>
</div>
{% endblock %}
