{% extends 'index.html' %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-0">
        <div class="card shadow-lg p-4" style="width: 350px;">
            <h2 class="text-center text-primary">Верификация</h2>

            {% if messages %}
                {% for message in messages %}
                    {% if "Неверный код" not in message.message %}  {# Не показываем сообщения о неверном коде #}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if error_message %}
                <div class="alert alert-danger">{{ message.error }}</div>
            {% endif %}

            <form method="POST" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="verification_code" class="form-label" style="color: black">Введите код верификации</label>
                    {{ form.verification_code }}
                    {% if form.errors.verification_code %}
                        <div class="text-danger small" style="color: black">
                            {{ form.errors.verification_code|join:", " }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary w-100">Подтвердить</button>
            </form>

            <div class="mt-3">
                <p><a href="{% url 'resend_code' %}">Отправить новый код</a></p>
            </div>
        </div>
    </div>
{% endblock %}