{% extends 'index.html' %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-lg p-4" style="width: 300px;">
            <h2 class="text-center text-primary">Верификация</h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form method="POST" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="verification_code" class="form-label" style="color: black">Введите код верификации</label>
                    {{ form.verification_code }}
                    <!-- Показываем ошибку, если валидация не прошла -->
                    {% if form.errors.verification_code %}
                        <div class="text-danger small" style="color: black">
                            {{ form.errors.verification_code|join:", " }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary w-100">Подтвердить</button>
            </form>

            {% if remaining_attempts > 0 %}
                <p style="color: black">Осталось попыток: {{ remaining_attempts }}</p>
                <p><a href="{% url 'login' %}">Отправить код еще раз</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
